anyio==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.11
click==7.1.2
fastapi==0.68.0
furl==2.1.3
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
orderedmultidict==1.0.1
pydantic==1.9.0
python-dotenv==0.19.2
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
starlette==0.14.2
typing-extensions==4.0.1
uvicorn==0.12.2
